*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

table{
    background-color:rgb(247, 243, 238) ;
    text-align: center;
    width: 100%;
    padding: 20px;
    margin: 20px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

}
td, th {
    padding: 20px;
    
}
td{
    color: blue;
}
tr:nth-child(4) td:first-child{
        color: brown;
}
tr:nth-child(6) td{
    border: none;
}
tr:nth-child(6) td:first-child{
    
    border: 1px solid black;
}

